<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>       
        {{> header }}
        <p>This page contains all the About regarding the website</p>   
        {{> footer }}
    </body>
</html>

