<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1> Under Maintenance </h1>
        <p> The website is currently being updated and we will be right back</p>
    </body>
</html>

